.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

footer div {
    margin-top: 0.5%;
}

footer h4 {
    color: #4db6ac;
}

footer a {
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #4db6ac;
    text-decoration: none;
}

footer p {
    color: white;
}

.customizedNavigation {
    background-color: #80cd32;
}

.customizedFooter {
    background-color: #555555;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}


.my-background{
    width: 100%;
    background-size: 100% 100%;
} 

/* Retina display */
@media screen and (min-width: 1024px){
    .my-background{
        background-image: url('../images/background.png');
    }
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    .my-background{
        background-image: url('../images/background.png');
    }
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    .my-background{
        background-image: url('../images/background.png');
    }
}

/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
    .my-background{
        background-image: url('../images/background.png');
    }
}

/* Mobile LD */
@media screen and (max-width: 350px){
    .my-background{
        background-image: url('../images/background.png');
    }
} 