<nav class="customizedFooter" role="navigation">
    <div class="nav-wrapper container">

        <div class="hide-on-med-and-down">
            <a href="/" class="center brand-logo">COD: BlackOps Statistics</a>
        </div>

        <div class="hide-on-large-only">
            <a href="/" class="center brand-logo"> 
                <img src="../images/logo.png" style="height: 50px; width: 60px; padding-top: 1px"> 
            </a>
        </div>

        <div id="webMenu">
            <script>$("#webMenu").load("html/layout/web-menu.html")</script>
        </div>

        <ul id="nav-mobile" class="right">
            <li>
                <a href="/" class="btn">Home</a>
            </li>
        </ul>
        
    </div>
</nav>