ul#nav-mobile.left
  li
    a.waves-effect(href='/faq', style='display:block;')
      i.material-icons  question_answer
  li
    a.waves-effect(href='sign-up.html')
      i.material-icons  account_circle 