doctype html
html
    head
        
        include ../layout/head.html
        script(src='../dist/my-app.js')
        
        
    body.my-background
        div.Site
            include ../layout/header.pug
            main.Site-content
                div.container(style='background-color: rgba(255, 255, 255, 0.3);')
                    include ../warning.html

                    .row
                        .col.s12
                            .center-align(style='width: 600px; margin: 0 auto; padding: 20px; margin-top: 10%')
                                div(style='font-size: 18pt;') 404. Oops, the route could not be found.
            include ../layout/footer.html